h3{
    font-family: 'Inspiration', cursive;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.hire-button{
text-decoration: none;
color: white;
background-image: linear-gradient(red,orange);
padding: 10px 20px;
border-radius: 8px;
}