body{
    margin: 50px;
}
h3{
    font-family: 'Inspiration', cursive;
}
h1{
    font-family: 'Poppins', sans-serif;
}
.orange-color{
    color: orange;
}
.hire-button{
text-decoration: none;
color: white;
background-image:linear-gradient(orange, red);
padding: 10px 20px;
border-radius: 8px;
}
.flexible{
display: flex;
}
.half-width{
    width: 80%;
}
.half-width img{
    width: 80%;
    padding-left: 20%;
    margin-right: 5%;
}
#p{
    text-align: justify;
}
.build-climber{
    color: darkblue;
}
h1 {
    font-size: 45px;
}
.font-roboto{
    font-family: 'Poppins', sans-serif;
}
.exp-item{
    display: flex;
    padding-left: 20px;
}
.bottom-1{
   width: 80%;
   padding-left: 50px;
   padding-right: 50px;
   box-shadow: 10px 15px 35px;
   border-radius: 20px;
   margin-left: 40px;
   
}
.bottom{
    width: 80%;
    padding-left: 80px;
    box-shadow: 10px 15px 35px;
    border-radius: 20px;
    margin-left: 80px;

   
 }
 #margin-1{
    border-left: 10px solid;
    border-image: linear-gradient(red,orange);
    border-image-slice: 1;
 }
 #margin-2{
    border-left: 10px solid;
    border-image: linear-gradient(red, blue);
    border-image-slice: 1;
 }